<!-- src/app/components/insurance-policy-form/insurance-policy-form.component.html -->
<div>
  <h2>{{ policyId ? 'Edit' : 'Add' }} Insurance Policy</h2>
  <form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="policy-lbl">Policy Number</div>
      <input formControlName="policyNumber" />
    </div>
    <div class="row">
      <div class="policy-lbl">Insurance Amount</div>
      <input type="number" formControlName="insuranceAmount" />
    </div>
    <div class="row">
      <div class="policy-lbl">Start Date</div>
      <input type="date" formControlName="startDate" />
    </div>
    <div class="row">
      <div class="policy-lbl">End Date</div>
      <input type="date" formControlName="endDate" />
    </div>
    <div class="row">
      <div class="policy-lbl">User ID</div>
      <input type="number" formControlName="userId" [attr.disabled]="userId !== 0 ? true : null" />
    </div>
    <button type="submit">{{ policyId ? 'Save' : 'Add' }}</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
